extends layout
block content
  h1= title
  form(id='penfrom', action="/resource/pen", method="POST")
    div.form-group
      label.penAttr(for='pen_name')  pen name
      input#pen_name(type='text', name='pen_name')
    div.form-group
      label.penAttr(for='ink')  ink
      input#ink(type='text', name='ink')

    div.form-group
      label.penAttr(for='cost') cost
      input#cost(type='number', name='cost')
   
    input(type="submit")
  script.
    document.forms['penfrom'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });