extends layout
block content
    h1= title
    if (toShow == null)
       h2 No instance to update
    else
    - let penid = toShow._id
    - let pen_name = toShow.pen_name
    - let ink = toShow.ink
    - let cost = toShow.cost
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{penid}
    - let actionid = "/resource/pen/" + penid
    form(id='penForm', action= actionid, method="PUT")
        div.form-group
        label.penAttr(for='pen_name') pen name
        input#pen_name(type='text', name='pen_name', value= pen_name )
        div.form-group
        label.penAttr(for='ink') ink 
        input#ink(type='text', name='ink', value= ink )
        div.form-group
        label.penAttr(for='cost') pen cost
        input#cost(type='number', name='cost', value= cost )
        input(type="submit")(style="color:red; background-color: yellow;")
    script.
        document.forms['penForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Update succeeded")
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Update failed " + error )
        });
        });